/*font-family: 'Mulish', sans-serif;
font-family: 'Nanum Myeongjo', serif;
*/
:root {
  --primary-color: rgb(243, 243, 243);
  --secondary-color: #313131;
  --third-color: #5c5c5c;
}

@media (max-width: 770px) {
  .app-info {
    text-align: center;
  }

  .presentation {
    font-size: 35px;
  }
  .information-front {
    font-size: 19px;
  }
  .about-section {
    text-align: center;
  }
}

.resize {
  width: 300px;
  display: block;
  margin-left: 100px;
  border-radius: 50%;
}

.hello-world {
  margin-bottom: 20px;
  color: var(--third-color);
  font-weight: bold;
}

.profile-background {
  background-image: url("/back-map.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
body {
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
  font-family: "Mulish", sans-serif;
}

.title {
  margin-top: 40px;
}

.complete-desc {
  margin-bottom: 20px;
}

.personal-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.links-black {
  color: var(--secondary-color);
  text-decoration: none;
  color: black;
}

.links {
  color: var(--secondary-color);
  text-decoration: none;
  color: white;
}

.link-about {
  display: block;
  text-align: center;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.link-projects {
  color: var(--secondary-color);
  text-decoration: none;
}

.link-projects:hover {
  text-decoration: underline;
}
.link-about:hover {
  text-decoration: underline;
}

.links-black:hover {
  text-decoration: underline;
}

.links:hover {
  text-decoration: underline;
}

.app-info {
  color: var(--primary-color);
}

.project-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.front-end {
  color: var(--third-color);
  margin-top: 20px;
  font-weight: bold;
}
.projects {
  color: var(--primary-color);
}

nav {
  opacity: 90%;
  color: white;
}
section {
  background-color: var(--secondary-color);
}

.aboutme {
  margin-top: 80px;
}

.description {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.about-description {
  text-align: justify;
}

.about-section {
  margin: 15px;
}

.name {
  font-size: 80px;
}

.id-profile {
  border-radius: 10px;
  width: 300px;
  display: block;
  margin: 0 auto;
}

.resize-img {
  width: 375px;
  display: block;
  margin: 0 auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.works-section {
  margin-top: 90px;
  margin-bottom: 70px;
  margin-left: 40px;
}

.work-des {
  font-size: 35px;
}
