/*font-family: 'Mulish', sans-serif;
font-family: 'Nanum Myeongjo', serif;
*/
:root {
  --primary-color: rgb(243, 243, 243);
  --secondary-color: #313131;
  --third-color: #6c6c6c;
}

.sticker1 {
  width: 370px;
  position: relative;
  top: 400px;
  left: 25px;
  transform: rotateZ(347deg);
}

.sticker2 {
  width: 225px;
  position: relative;
  top: 10px;
  right: 300px;
}

@media (max-width: 770px) {
  .app-info {
    text-align: center;
  }

  .presentation {
    font-size: 35px;
  }
  .information-front {
    font-size: 19px;
  }
}

.resize {
  width: 300px;
  display: block;
  margin-left: 100px;
  border-radius: 50%;
}
body {
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
}

.title {
  margin-top: 40px;
}

.complete-desc {
  margin-bottom: 20px;
}
.profile-container {
  display: block;
  margin-top: 250px;
  margin-bottom: 250px;
}

.links-black {
  color: var(--secondary-color);
  text-decoration: none;
  color: black;
}

.links {
  color: var(--secondary-color);
  text-decoration: none;
  color: white;
}

.link-about {
  display: block;
  text-align: center;
  color: var(--secondary-color);
  text-decoration: none;
}
.link-about:hover {
  text-decoration: underline;
}

.links-black:hover {
  text-decoration: underline;
}

.links:hover {
  text-decoration: underline;
}

.app-info {
  color: var(--primary-color);
}

.project-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.front-end {
  color: var(--third-color);
}
.projects {
  color: var(--primary-color);
}

nav {
  opacity: 90%;
  color: white;
}
section {
  background-color: var(--secondary-color);
}

.aboutme-container {
  margin-top: 100px;
}

.description {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}
